/* GENERAL */
.container{
    width: 900px;
    margin: 0 auto;
}
/* UTILITIES */
/* .bord-black{
    border: 1px solid black;
} */

.input-text input:focus{
    outline: 2px solid #0d6efd;
}

ol{
    background-color: #85a9e0;
}

li{
    border-bottom: 1px solid black;
}
li:last-child{
    border-bottom: none;
}
.trash-icon:hover{
    color: red;
    cursor: pointer;
}
.square{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 10px;
    background: #fff;
    transition: background .3s;
}
.completed .li-todo{
    text-decoration: line-through;
}
.todo.completed .square{
    background: green;
}
span{
    cursor: pointer;
}