/* GENERAL */
.container{
    width: 900px;
    margin: 0 auto;
}
/* UTILITIES */
/* .bord-black{
    border: 1px solid black;
} */

.input-text input:focus{
    outline: 2px solid #0d6efd;
}

ol{
    background-color: #85a9e0;
    padding: 0 20px;
    border-radius: 15px;
}

li{
    border-bottom: 1px solid black;
}
li:last-child{
    border-bottom: none;
}
.trash-icon:hover{
    color: red;
    cursor: pointer;
}
.todo::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 10px;
    background: #fff;
    transition: background .3s;
}
.completed .li-todo-text{
    text-decoration: line-through;
}
.todo.completed::before{
    background: rgb(68, 228, 68);
}
span{
    cursor: pointer;
}